src/Core/ReflectionEngine/reflection.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com" elementFormDefault="qualified">
  
  <xs:element name="copyright">
    <xs:complexType>
      <xs:attribute name="text" type="xs:string" use="required"/>
      <xs:attribute name="href" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="threadsafety">
    <xs:complexType>
      <xs:attribute name="static" type="xs:boolean" use="required"/>
      <xs:attribute name="instance" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="hierarchyInterface">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="fullname" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="hierarchyInterfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hierarchyInterface" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hierarchyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hierarchyInterfaces" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="hierarchyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namespaceHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hierarchyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namespaceHierarchies">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="namespaceHierarchy" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="attributeAttributes">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:attributeGroup>

  <xs:element name="attributeField">
    <xs:complexType>
      <xs:attributeGroup ref="attributeAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="attributeProperty">
    <xs:complexType>
      <xs:attributeGroup ref="attributeAttributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="attribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="attributeField" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="attributeProperty" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attributeGroup ref="attributeAttributes"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="target" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="attributeGroup">
    <xs:choice>
      <xs:element ref="attribute"/>
      <xs:element name="obsolete" type="xs:string"/>
    </xs:choice>
  </xs:group>

  <xs:element name="namespaceDocumentation">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="summary" type="xs:string"/>
          <xs:element name="namespacedoc" type="xs:string"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="classAttributes">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="displayName" type="xs:string" use="required"/>
    <xs:attribute name="namespace" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="access" type="xs:string" use="required"/>
    <xs:attribute name="hiding" type="xs:string" use="optional"/>
    <xs:attribute name="abstract" type="xs:string" use="optional"/>
    <xs:attribute name="sealed" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <xs:element name="documentation">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##other" processContents="skip" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="implements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="inherited" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="genericconstraint">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="constraint" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="param" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="classGroup">
    <xs:sequence>
      <xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="documentation"/>
      <xs:element ref="base" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="derivedBy" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="implements" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="genericconstraint" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>
  
  <xs:element name="structure">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="classGroup" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="genericargument">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="base">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="base" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="derivedBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="class">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="classGroup" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="namespaceDocumentation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice>
          <xs:element ref="structure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="class" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="module">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="namespace" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="assembly">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="module" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ndoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feedbackEmail" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="copyright" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="threadsafety" maxOccurs="1" minOccurs="0"/>
        <xs:element name="preliminary" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="namespaceHierarchies" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="assembly" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="SchemaVersion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>