src/Core/ReflectionEngine/reflection.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ndoc-schema" xmlns="urn:ndoc-schema" elementFormDefault="qualified">
  
  <xs:element name="copyright">
    <xs:complexType>
      <xs:attribute name="text" type="xs:string" use="required"/>
      <xs:attribute name="href" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="threadsafety">
    <xs:complexType>
      <xs:attribute name="static" type="xs:boolean" use="required"/>
      <xs:attribute name="instance" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="hierarchyInterface">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="fullName" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="hierarchyInterfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hierarchyInterface" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hierarchyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hierarchyInterfaces" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="hierarchyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namespaceHierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hierarchyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namespaceHierarchies">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="namespaceHierarchy" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="attributeAttributes">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:attributeGroup>

  <xs:element name="attributeField">
    <xs:complexType>
      <xs:attributeGroup ref="attributeAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="attributeProperty">
    <xs:complexType>
      <xs:attributeGroup ref="attributeAttributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="attribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="attributeField" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="attributeProperty" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attributeGroup ref="attributeAttributes"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="target" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="attributeGroup">
    <xs:choice>
      <xs:element ref="attribute"/>
      <xs:element name="obsolete" type="xs:string"/>
    </xs:choice>
  </xs:group>

  <xs:element name="namespaceDocumentation">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="summary" type="xs:string"/>
          <xs:element name="namespacedoc" type="xs:string"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="classAttributes">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="displayName" type="xs:string" use="required"/>
    <xs:attribute name="namespace" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="access" type="xs:string" use="required"/>
    <xs:attribute name="hiding" type="xs:string" use="optional"/>
    <xs:attribute name="abstract" type="xs:string" use="optional"/>
    <xs:attribute name="sealed" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <xs:element name="documentation">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:any processContents="skip"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="implementsClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="inherited" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="genericconstraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="constraint" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="param" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
      <xs:attribute name="unsafe" type="xs:boolean" use="optional"/>
      <xs:attribute name="optional" type="xs:boolean" use="optional"/>
      <xs:attribute name="defaultValue" type="xs:string" use="optional"/>
      <xs:attribute name="direction" type="xs:string" use="optional"/>
      <xs:attribute name="isParamArray" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="constructor">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="documentation"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="contract" type="xs:string" use="required"/>
      <xs:attribute name="overload" type="xs:string" use="optional"/>
      <xs:attribute name="unsafe" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="documentation"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="contract" type="xs:string" use="optional"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
      <xs:attribute name="unsafe" type="xs:boolean" use="optional"/>
      <xs:attribute name="hiding" type="xs:boolean" use="optional"/>
      <xs:attribute name="initOnly" type="xs:boolean" use="optional"/>
      <xs:attribute name="literal" type="xs:boolean" use="optional"/>
      <xs:attribute name="value" type="xs:string" use="optional"/>
      <xs:attribute name="declaringType" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="interfaceField">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="implements">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="interface" type="xs:string" use="required"/>
      <xs:attribute name="interfaceId" type="xs:string" use="required"/>
      <xs:attribute name="declaringType" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="property">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="implements" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="contract" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
      <xs:attribute name="declaringType" type="xs:string" use="optional"/>
      <xs:attribute name="overload" type="xs:string" use="optional"/>
      <xs:attribute name="unsafe" type="xs:boolean" use="optional"/>
      <xs:attribute name="hiding" type="xs:boolean" use="optional"/>
      <xs:attribute name="get" type="xs:string" use="required"/>
      <xs:attribute name="set" type="xs:string" use="required"/>
      <xs:attribute name="interface" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="returnType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="method">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="returnType" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="implements" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="genericconstraints" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="contract" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
      <xs:attribute name="overload" type="xs:string" use="optional"/>
      <xs:attribute name="unsafe" type="xs:boolean" use="optional"/>
      <xs:attribute name="hiding" type="xs:boolean" use="optional"/>
      <xs:attribute name="interface" type="xs:string" use="optional"/>
      <xs:attribute name="declaringType" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="operator">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="returnType" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="contract" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
      <xs:attribute name="overload" type="xs:string" use="optional"/>
      <xs:attribute name="unsafe" type="xs:boolean" use="optional"/>
      <xs:attribute name="declaringType" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="event">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="implements" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="contract" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="interface" type="xs:string" use="optional"/>
      <xs:attribute name="multicast" type="xs:boolean" use="optional"/>
      <xs:attribute name="declaringType" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="classGroup">
    <xs:sequence>
      <xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="documentation"/>
      <xs:element name="obsolete" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="baseType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="derivedBy" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="implementsClass" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="genericconstraints" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="constructor" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="method" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="operator" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>
  
  <xs:element name="structure">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:group ref="classGroup" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="genericargument">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="baseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="baseType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="derivedBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="class">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:group ref="classGroup" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="classAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="interface">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="derivedBy" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="implements" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="genericconstraints" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="implementedBy" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="genericargument" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="displayName" type="xs:string" use="required"/>
            <xs:attribute name="namespace" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="method" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="delegate">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="returnType" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="genericconstraints" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="valueType" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="enumeration">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="documentation" minOccurs="1" maxOccurs="1"/>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="namespace" type="xs:string" use="required"/>
      <xs:attribute name="access" type="xs:string" use="required"/>
      <xs:attribute name="baseType" type="xs:string" use="optional"/>
      <xs:attribute name="flags" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="namespace">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="0">
        <xs:element ref="namespaceDocumentation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="class"/>
          <xs:element ref="interface"/>
          <xs:element ref="structure"/>
          <xs:element ref="delegate"/>
          <xs:element ref="enumeration"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="module">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="namespace" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="assembly">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="attributeGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="module" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ndoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feedbackEmail" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="copyright" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="threadsafety" maxOccurs="1" minOccurs="0"/>
        <xs:element name="preliminary" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="namespaceHierarchies" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="assembly" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="SchemaVersion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>